<style>
        html {
       
        }
        body{
                margin: 20px;
        }
        .a {
         font-size: 20px;
         background-color: #EBE3D5;
         color:#776B5D;
         
        }
        </style>