<style>
        .para{
            font-size: 30px;
        }

        .bc{
            text-align: center;
            margin-top: 30px;
            margin-bottom: 30px;
            colour:#777;
        }
        .heading{
            margin-bottom:20px;
        }

</style>